body{
    background-image: url("../images/highgate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
h1{
    font-size: 32pt;
}
#quiz-box{
    background-image: url("../images/quizBackground.jpg");
}

#quiz-timer{
    display: none;
    font-size: 22pt;
    color: white;
}
#question-timer{
    display: none;
    font-size: 22pt;
    color: red;
}

#question-block{
    display: none;
    background-image: url("../images/quizBackground.jpg");
    color: red;
}

#highscore-initials{
    margin-left: 42%;
    display: none;
}

#highscore-message{
    
    display: none;
}

#answer-message{
    font-size: 20pt;
    color: lime;
}

#view-highscores{
    display: none;
}

